<a href="https://colab.research.google.com/github/2303A51755/NLP/blob/main/11_09_25_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/tweets.csv')
print(df)

          id  keyword                 location  \
0          0   ablaze                      NaN
1          1   ablaze                      NaN
2          2   ablaze            New York City
3          3   ablaze           Morgantown, WV
4          4   ablaze                      NaN
...      ...      ...                      ...
11365  11365  wrecked  Blue State in a red sea
11366  11366  wrecked               arohaonces
11367  11367  wrecked                       üáµüá≠
11368  11368  wrecked           auroraborealis
11369  11369  wrecked                      NaN

                                                    text  target
0      Communal violence in Bhainsa, Telangana. "Ston...       1
1      Telangana: Section 144 has been imposed in Bha...       1
2      Arsonist sets cars ablaze at dealership https:...       1
3      Arsonist sets cars ablaze at dealership https:...       1
4      "Lord Jesus, your love brings freedom and pard...       0
...                                                  ...     ...
11365  Media should have warned us well in advance. T...       0
11366  i feel directly attacked üíÄ i consider moonbin ...       0
11367  i feel directly attacked üíÄ i consider moonbin ...       0
11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369     Jake Corway wrecked while running 14th at IRP.       1

[11370 rows x 5 columns]

In [ ]:
print(df['text'])

0        Communal violence in Bhainsa, Telangana. "Ston...
1        Telangana: Section 144 has been imposed in Bha...
2        Arsonist sets cars ablaze at dealership https:...
3        Arsonist sets cars ablaze at dealership https:...
4        "Lord Jesus, your love brings freedom and pard...
                               ...
11365    Media should have warned us well in advance. T...
11366    i feel directly attacked üíÄ i consider moonbin ...
11367    i feel directly attacked üíÄ i consider moonbin ...
11368    ok who remember "outcast" nd the "dora" au?? T...
11369       Jake Corway wrecked while running 14th at IRP.
Name: text, Length: 11370, dtype: object

In [ ]:
import spacy
nlp=spacy.load('en_core_web_sm')
doc=nlp(df['text'][0])
print(doc)

Communal violence in Bhainsa, Telangana. "Stones were pelted on Muslims' houses and some houses and vehicles were set ablaze‚Ä¶

In [ ]:
print("\n o Sentence Tokenization:")
for sent in doc.sents:
    print(sent.text)

 o Sentence Tokenization:
Communal violence in Bhainsa, Telangana.
"Stones were pelted on Muslims' houses and some houses and vehicles were set ablaze‚Ä¶

In [ ]:
print("\n o Word Tokenization:")
for token in doc:
    print(token.text)

 o Word Tokenization:
Communal
violence
in
Bhainsa
,
Telangana
.
"
Stones
were
pelted
on
Muslims
'
houses
and
some
houses
and
vehicles
were
set
ablaze
‚Ä¶

In [ ]:
from nltk.stem import PorterStemmer
st=PorterStemmer()
for t in doc:
    if t.is_alpha:
        print(t)
        print(t,"===",t.lemma_,"===",st.stem(t.text))

Communal
Communal === communal === commun
violence
violence === violence === violenc
in
in === in === in
Bhainsa
Bhainsa === Bhainsa === bhainsa
Telangana
Telangana === Telangana === telangana
Stones
Stones === stone === stone
were
were === be === were
pelted
pelted === pelt === pelt
on
on === on === on
Muslims
Muslims === Muslims === muslim
houses
houses === house === hous
and
and === and === and
some
some === some === some
houses
houses === house === hous
and
and === and === and
vehicles
vehicles === vehicle === vehicl
were
were === be === were
set
set === set === set
ablaze
ablaze === ablaze === ablaz

In [ ]:
import pandas as pd

In [ ]:
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import spacy

# Load the spacy model
nlp = spacy.load('en_core_web_sm')

nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)
    text = re.sub(r'\d+', '', text)
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Use spacy for tokenization
    doc = nlp(text)
    tokens = [token.text for token in doc]
    tokens = [lemmatizer.lemmatize(w) for w in tokens if w not in stop_words]
    return ' '.join(tokens)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
df['cleaned_text'] = df['text'].apply(clean_text)
display(df.head())

,id,keyword,location,text,target,cleaned_text
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,communal violence bhainsa telangana stone pelt...
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,telangana section imposed bhainsa january ...
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1,arsonist set car ablaze dealership
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1,arsonist set car ablaze dealership
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,lord jesus love brings freedom pardon fill hol...

In [ ]:
from sklearn.model_selection import train_test_split

X = tfidf_matrix
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (9096, 5000)
Shape of X_test: (2274, 5000)
Shape of y_train: (9096,)
Shape of y_test: (2274,)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=5000) # You can adjust max_features
tfidf_matrix = tfidf_vectorizer.fit_transform(df['cleaned_text'])

print("Shape of TF-IDF matrix:", tfidf_matrix.shape)

Shape of TF-IDF matrix: (11370, 5000)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report


model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.8843447669305189
Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.99      0.93      1878
           1       0.88      0.39      0.54       396

    accuracy                           0.88      2274
   macro avg       0.88      0.69      0.74      2274
weighted avg       0.88      0.88      0.87      2274

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer_ngram = TfidfVectorizer(max_features=5000, ngram_range=(1, 2))
tfidf_matrix_ngram = tfidf_vectorizer_ngram.fit_transform(df['cleaned_text'])

print("Shape of TF-IDF matrix with n-grams:", tfidf_matrix_ngram.shape)

Shape of TF-IDF matrix with n-grams: (11370, 5000)

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
X_train_ngram, X_test_ngram, y_train, y_test = train_test_split(
    tfidf_matrix_ngram, df['target'], test_size=0.2, random_state=42
)

model_mlp = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_ngram.shape[1],)),
    Dropout(0.5),
    Dense(64, activation='relu'),
    Dropout(0.5),
    Dense(1, activation='sigmoid')
])

model_mlp.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

history_mlp = model_mlp.fit(X_train_ngram, y_train,
                          epochs=10,
                          batch_size=32,
                          validation_split=0.2,
                          verbose=1)

loss_mlp, accuracy_mlp = model_mlp.evaluate(X_test_ngram, y_test, verbose=0)

print(f"MLP Test Accuracy: {accuracy_mlp:.4f}")

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 9s 28ms/step - accuracy: 0.7733 - loss: 0.5310 - val_accuracy: 0.8423 - val_loss: 0.3437
Epoch 2/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 6s 11ms/step - accuracy: 0.8841 - loss: 0.2911 - val_accuracy: 0.8846 - val_loss: 0.3145
Epoch 3/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3s 15ms/step - accuracy: 0.9316 - loss: 0.1848 - val_accuracy: 0.8775 - val_loss: 0.3350
Epoch 4/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3s 12ms/step - accuracy: 0.9561 - loss: 0.1273 - val_accuracy: 0.8720 - val_loss: 0.3878
Epoch 5/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3s 11ms/step - accuracy: 0.9712 - loss: 0.0826 - val_accuracy: 0.8676 - val_loss: 0.4604
Epoch 6/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2s 11ms/step - accuracy: 0.9811 - loss: 0.0604 - val_accuracy: 0.8703 - val_loss: 0.5400
Epoch 7/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3s 11ms/step - accuracy: 0.9886 - loss: 0.0392 - val_accuracy: 0.8725 - val_loss: 0.6046
Epoch 8/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4s 16ms/step - accuracy: 0.9943 - loss: 0.0258 - val_accuracy: 0.8687 - val_loss: 0.6614
Epoch 9/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2s 11ms/step - accuracy: 0.9936 - loss: 0.0242 - val_accuracy: 0.8659 - val_loss: 0.7125
Epoch 10/10
228/228 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2s 10ms/step - accuracy: 0.9956 - loss: 0.0143 - val_accuracy: 0.8725 - val_loss: 0.7891
MLP Test Accuracy: 0.8843